<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tea Leaf Gallery{% endblock %}</title>
    <!-- block tag defines a block named "title". Blocks = template sections that child templates can override.
    Content inside this block tag is the default content for the title of the page -->

</head>
<body>
    <header>
        <!-- Header content -->
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'contact' %}">contact</a>
        <a href="{% url 'portfolio' %}">portfolio</a>
        <a href="{% url 'statement' %}">statement</a>
    </header>

    <main>
        <!-- Content from child templates -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content -->
        <p>&copy; 2024</p>
    </footer>
</body>
</html>
