{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- block tag defines a block named "title". Blocks = template sections that child templates can override.
    Content inside this block tag is the default content for the title of the page -->
    <title>{% block title %} missing title {% endblock %}</title>
    <!-- run python manage.py collectstatic in prod to copy static files into the STATIC_ROOT directory -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">

    <link rel="icon" href="{% static 'firstapp/favicon.ico' %}">
</head>

<body>
    <header>
        <!-- Header content -->
        <div id="nav-links">
            <a href="{% url 'home' %}">home</a>
            <a href="{% url 'portfolio' %}">portfolio</a>
            <a href="{% url 'statement' %}">statement</a>
            <a href="{% url 'contact' %}">contact</a>
        </div>
        <div id="business-name">Tea Leaf Gallery</div>
    </header>

    <main>
        {% block content %}
        {% endblock %}

        <img class="teapot" src="{% static 'firstapp/teapot.png' %}" alt="teapot">
    </main>

    <footer>
        <!-- Footer content -->
        <p id="reality">Reality Requires Art</p>
        <p>Copyright © 2024 Kelli Fifield. All rights reserved.</p>
        <p>Alien-esque tech solutions by <b>Websites from Planet X</b>.</p>
    </footer>
</body>

</html>