{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- block tag defines a block named "title". Blocks = template sections that child templates can override.
    Content inside this block tag is the default content for the title of the page -->
    <title>{% block title %} missing title {% endblock %}</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- custom fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="{% static 'firstapp/favicon.ico' %}">
</head>

<body>
    <header>
        <div id="nav-links">
            <a href="{% url 'home' %}">Home</a>
            <!-- portfolio -->
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="portfolioDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Portfolio
                </a>
                <div class="dropdown-menu" aria-labelledby="portfolioDropdown">
                    <a class="dropdown-item" href="{% url 'landscapes' %}">Landscapes</a>
                    <a class="dropdown-item" href="{% url 'japanese_koi_fish' %}">Japanese Koi Fish</a>
                    <a class="dropdown-item" href="{% url 'food' %}">Food</a>
                    <a class="dropdown-item" href="{% url 'wooden_kokeshi_dolls' %}">Wooden Kokeshi Dolls</a>
                    <a class="dropdown-item" href="{% url 'teapots' %}">Teapots</a>
                </div>
            </div>
            <a href="{% url 'statement' %}">Statement</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>

        <div id="business-name">Tea Leaf Gallery</div>
    </header>

    <main>
        {% block content %}
        {% endblock %}

    </main>

    <!-- teapot appears immediately before footer -->
    <div class="teapot-container">
        <img class="teapot" src="{% static 'firstapp/teapot.png' %}" alt="teapot">
    </div>

    <footer>
        <p id="reality">Reality Requires Art</p>
        <p>Copyright © 2024 Kelli Fifield. All rights reserved.</p>
        <p>Unearthly design by <b>Websites from Planet X</b>.</p>
    </footer>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>