{% extends 'firstapp/base.html' %}

<!-- load static for images -->
{% load static %}

{% block title %}{{ website_name }} > {{ page_name }}{% endblock %}

{% block content %}

    <img src="{% static 'firstapp/contact/flamencopointdancer.png' %}" alt="Contact Kelli">

    <h2>Contact Information</h2>

    <form>
        <label for="name">Your Name:</label><br>
        <input type="text" id="name" name="name" maxlength="32" required><br>
        <span id="name-counter">32 characters remaining on your input limit</span><br>
    
        <label for="email">Your Email Address:</label><br>
        <input type="email" id="email" name="email" maxlength="32" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
        <span id="email-counter">32 characters remaining on your input limit</span><br>
    
        <label for="message">Thank you for your message:</label><br>
        <textarea id="message" name="message" maxlength="300" required></textarea><br>
        <span id="message-counter">300 characters remaining on your input limit</span><br>
    
        <input type="submit" value="Submit">
    </form>

{% endblock %}
