<!-- firstapp/contact.html -->
{% extends 'firstapp/base.html' %}
{% load static %}

{% block title %}{{ website_name }} > {{ page_name }}{% endblock %}

{% block content %}
<main class="content-container">
    <section class="text-section">
        <figure class="dancer-container">
            <img src="{% static 'firstapp/contact/flamencopointdancer.png' %}" alt="Contact Kelli">
        </figure>
        <article class="text-content">
            <header>
                <h2>Contact Us</h2>
            </header>

            <form class="contact-form" method="post" novalidate>
                {% csrf_token %}
                <div>
                    {{ form.name.label_tag }}{{ form.name }}
                </div>
                <div>
                    {{ form.email.label_tag }}{{ form.email }}
                </div>
                <div>
                    {{ form.subject.label_tag }}{{ form.subject }}
                </div>
                <div>
                    {{ form.message.label_tag }}{{ form.message }}
                </div>
                <div>
                    {{ form.captcha.label_tag }}{{ form.captcha }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </article>
    </section>
</main>
{% endblock %}
