{% extends 'firstapp/base.html' %}

{% block title %}{{ website_name }} > {{ page_name }}{% endblock %}

{% block content %}

<h2>Paintings</h2>
<p id="pricing-info">$59 for 8"x10" (+$29 for silver metal frame). Free shipping for most items.</p>
<div id="gallery">
  {% for painting in paintings %}
  <div class="painting">
    <h3 class="painting-title">{{ painting.title }}</h3>
    <img class="painting-image" src="{{ painting.image.url }}" alt="{{ painting.title }}">
    <p class="painting-description">{{ painting.description }}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
