html,
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

#nav-links a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    /* remove the underline from the links */
}

#business-name {
    /* font-family: 'Georgia', sans-serif; */
    font-size: 2em;
    /* text-align: right; */
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background: #71714c;
    /* background: #ccc; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    text-align: center;
}

#reality {
    font-size: 1.5em;
    text-align: center;
}

/* contact page */
form label {
    color: white;
}

form input, form textarea {
    margin-bottom: 10px;
}
