/* CSS Variables for color scheme based on yixing clay colors */

/* https://coolors.co/palette/22223b-4a4e69-9a8c98-c9ada7-f2e9e4
going with a yixing clay colorscheme, used for chinese teapots (prized for porous quality).
but the clay is too vibrant for background colors, so I'm using muted shades of the colors.
this way, the viewer is draw to the paintings and not the background.
*/

:root {
    --dark-blue-gray: #22223B; /* very dark shade of blue-gray */
    --blue-gray: #4A4E69; /* dark shade of blue-gray */
    --lavender-gray: #9A8C98; /* muted shade of lavender-gray */
    --dusty-pink: #C9ADA7; /* pale, dusty shade of pinkish-beige */
    --warm-beige: #F2E9E4; /* very light shade of warm beige */
}

html, body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--warm-beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--dark-blue-gray);
}

#nav-links {
    display: flex;
    justify-content: space-between; /* space out links evenly */
}

#nav-links a.nav-link {
    font-family: Arial, sans-serif;
    font-size: 1.5em;  /* Ensuring all nav links have the same font size */
    text-decoration: none; /* Removing underline */
    margin: 0 10px;
    color: var(--dark-blue-gray); /* Ensuring uniform color */
    background-color: transparent; /* Removing any background color from Bootstrap styles */
    border: none; /* Removing any borders */
    padding: 0.5em 1em; /* Adjust padding as needed */
}

#nav-links a.nav-link:hover, #nav-links a.nav-link:focus {
    color: var(--blue-gray); /* Hover and focus color */
    text-decoration: none; /* Ensuring no underline appears on hover/focus */
}

#business-name {
    font-size: 2em;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background: var(--dusty-pink);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 10px;
    flex: 1 0 auto;
}

#pricing-info {
    color: var(--dark-blue-gray);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.painting {
    margin: 20px;
}

.painting:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.painting-image {
    width: 100%;
    height: auto;
}

.painting-title {
    text-align: center;
    padding: 10px;
}

.painting-description {
    text-align: center;
    padding: 10px;
}

.painting-image.portrait {
    width: auto;
    height: 500px;
}

.painting-image.landscape {
    width: 500px;
    height: auto;
}

.easel-container {
    width: 100vw; /* Set width relative to viewport width */
    height: auto;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    display: flex;
    justify-content: center;
    background-color: var(--lavender-gray);
    padding: 20px;
    width: 50vw;
    margin: 0 auto;
}

.text-section {
    background-color: var(--warm-beige);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.text-content {
    width: 100%;
}

@media (max-width: 768px) {
    .image-section img {
        transform: rotate(0deg); /* Optional: Reset rotation on smaller screens if needed */
    }
}

.dancer-container {
    padding: 10px;
}

.text-muted {
    color: var(--dark-blue-gray) !important;
}

.contact-form .form-control {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

div.teapot-container {
    position: fixed; /* Use fixed positioning */
    right: 0; /* Align to the right */
    bottom: 0; /* Align to the bottom */
    margin: 0; /* Remove any margin */
}

img.teapot {
    display: block; /* Change display to block */
    max-width: 100px; /* Set a max width if necessary */
    height: auto; /* Maintain aspect ratio */
}

footer {
    flex-shrink: 0;
    text-align: center;
}

#reality {
    font-size: 1.5em;
    text-align: center;
}

.planetx {
    color: var(--dark-blue-gray);
}

/* hide content for all except screen reader users */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* debugging */
/* * { border: 1px solid red; } */
